<h3>School Class Form</h3>

<%= form_tag school_classes_path %>
  <%= label_tag(:first_name, "First name") %>
  <%= text_field_tag(:first_name) %>

  <%= label_tag(:last_name, "Last name") %>
  <%= text_field_tag(:last_name) %>

  <%= submit_tag "Create School Class" %>
<% end %>
